[Unit]
Description=NIC Failure Monitor
After=network.target

[Service]
ExecStart=/usr/local/bin/monitor_nic.sh
Restart=always
RestartSec=5
StandardOutput=append:/var/log/monisor_nic_debug.log
StandardError=append:/var/log/monisor_nic_debug.log

[Install]
WantedBy=multi-user.target
